// Place all the styles related to the Products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.text{
	color:white;
}
.margin{
	margin-top:-10.2px;
	margin-left:-28px;
	margin-right:-28px;
}
.mid{
	margin-left:60px;
}