<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container-fluid margin">
   
  <div id="myCarousel" class="carousel slide margin" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
      <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
      <li data-target="#myCarousel" data-slide-to="1"></li>
      <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner">
      <div class="item active">
        <img src="/assets/1059379_3000x600._CB503546742_.jpg" alt="Los Angeles">
      </div>

      <div class="item">
        <img src="/assets/IN-PR-GW-MultiBen-3000x600._CB503564912_.jpg" alt="Chicago">
      </div>
    
      <div class="item">
        <img src="/assets/3000x600-samsung-mobile-fest-2._CB503559577_.jpg" alt="New York">
      </div>
    </div>

    <!-- Left and right controls -->
    <a class="left carousel-control" href="#myCarousel" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
</div>
	<% i = 0 %>
<% @products.each do |product|%>
<div class="container">
	<div class="row">
		<div class="col-md-6">
			<% if i % 2 == 0 %>
				<a href="/products/<%=product.id%>"> 
					<%= image_tag product.product_image.url(:product_index)%>
				</a>
			<% end %>
		</div>
		<div class="col-md-6">
			<% if i % 2 != 0 %>
				<a href="/products/<%=product.id%>"> 
					<%= image_tag product.product_image.url(:product_index)%>
				</a>
			<% end %>
		</div>

	</div>
</div>

<% i += 1 %>
<% end %>
</body>
</html>



